# ===========================
# Virtual Environment
# ===========================
.venv/

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# ChromaDB
# ===========================
data/chroma_db/

# ===========================
# Python cache
# ===========================
.pytest_cache/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/